package ${package.Mapper};

import ${package.Parent}.domain.dto.${entity}PageParamDTO;
import ${package.Parent}.domain.dto.${entity}PageDTO;
import ${package.Entity}.${entity};
import ${superMapperClassPackage};
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    int pageCount(@Param("param") ${entity}PageParamDTO pageParam);

    List<${entity}PageDTO> pageList(@Param("param") ${entity}PageParamDTO pageParam);

}
#end
