<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.system.mapper.system.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        update_user_id,
        create_time,
        update_time,
        id, login_name, real_name, password, status, `type`, avatar_image_url, sex, tel, email
    </sql>


    <select id="pageTotal" resultType="java.lang.Long">
        SELECT count(*)
        FROM sys_user
        <include refid="Page_Condition"/>
    </select>

    <select id="page" resultType="com.wd.system.system.dto.UserPageDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        <include refid="Page_Condition"/>

        <if test="param.sort != null and param.sort != ''">
            ORDER BY ${param.sort} ${param.order}
        </if>
        <bind name="limitStart" value="(param.current lte 1) ? 0 : ((param.current - 1) * param.size)"/>
        LIMIT #{limitStart}, #{param.size}
    </select>

    <sql id="Page_Condition">
        <where>
            <if test="param.loginName != null and param.loginName != ''">
                AND login_name LIKE concat('%', #{param.loginName}, '%')
            </if>
            <if test="param.realName != null and param.realName != ''">
                AND real_name LIKE concat('%', #{param.realName}, '%')
            </if>
            <if test="param.status != null and param.status != ''">
                AND status = #{param.status}
            </if>
            <if test="param.sex != null and param.sex != ''">
                AND sex = #{param.sex}
            </if>
            <if test="param.tel != null and param.tel != ''">
                AND tel LIKE concat('%', #{param.tel}, '%')
            </if>
            <if test="param.email != null and param.email != ''">
                AND email LIKE concat('%', #{param.email}, '%')
            </if>
            <if test="param.createTimeBegin != null">
                AND create_time <![CDATA[ >= ]]> #{param.createTimeBegin}
            </if>
            <if test="param.createTimeEnd != null">
                AND create_time <![CDATA[ <= ]]> #{param.createTimeEnd}
            </if>
            <if test="param.updateTimeBegin != null">
                AND update_time <![CDATA[ >= ]]> #{param.updateTimeBegin}
            </if>
            <if test="param.updateTimeEnd != null">
                AND update_time <![CDATA[ <= ]]> #{param.updateTimeEnd}
            </if>
        </where>
    </sql>

</mapper>
