<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.file.mapper.DownloadCenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wd.file.entity.DownloadCenter">
        <id column="id" property="id" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="code" property="code" />
        <result column="download_type" property="downloadType" />
        <result column="download_way" property="downloadWay" />
        <result column="status" property="status" />
        <result column="file_name" property="fileName" />
        <result column="attachment_id" property="attachmentId" />
        <result column="memo" property="memo" />
        <result column="progress_bar" property="progressBar" />
        <result column="completed_time" property="completedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user_id,
        update_user_id,
        create_time,
        update_time,
        id, code, download_type, download_way, status, file_name, attachment_id, memo, progress_bar, completed_time
    </sql>

</mapper>
